  .header__body {
    display: grid;
    grid-template-columns: 77px 76px;
    justify-content: space-between;
    height: 72px;
    align-items: center;
  }
   
.header__profile_login {
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    border-radius: 3px;
    background: #3DDC84;
    padding: 8px 20px;
    border: 0;
    text-decoration: none;
  }
  
  .header__profile_register {
    background-color: transparent;
    border: 0;
    padding: 0;
    margin-right: 30px;
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
  }
  