.header__profile {
  display: grid;
  grid-template-columns: auto 106px;
  align-items: center;
}

.header__body-profile {
  display: grid;
  grid-template-columns: 38px auto;
  justify-content: space-between;
  height: 72px;
  align-items: center;
}



.header__profile__login {
  color: #000;
  font-family: Inter, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  border-radius: 3px;
  background: #3DDC84;
  padding: 8px 20px;
  width: 36px;
  height: 16px;
  border: 0;
  text-decoration: none;
  justify-self: end;
  z-index: 2;
  }
  
.header__profile__register {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  color: #FFF;
  text-align: right;
  font-family: Inter, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  z-index: 2;
}

.header__profile__register:hover {
  opacity: 0.6;
  cursor: pointer;
}

.header__profile__login:hover {
  opacity: 0.6;
  cursor: pointer;
}

.header__logo-profile {
  width: 38px;
  height: 38px;
  z-index: 2;
}

.header__logo-profile:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 425px) {
  .header__profile {
    display: grid;
    grid-template-columns: auto 54px;
    column-gap: 14px;
  }

  .header__profile__login {
    font-size: 10px;
    padding: 5px 12px;
    width: 30px;
  }

  .header__profile__register {
    font-size: 10px;
  }
}  
  