.not-found {
    background-color: #202020;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 184px;
}

.not-found__title {
    color: #FFF;
    text-align: center;
    font-family: Inter, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.not-found__title span {
    display: block;
    color: #FFF;
    text-align: center;
    font-family: Inter, Arial, sans-serif;
    font-size: 140px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button_type_to-main {
    color: #4285F4;
    text-align: center;
    font-family: Inter, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.button_type_to-main:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media (max-width: 768px) {
    .not-found {
        padding-top: 165px;
    }
}

@media (max-width: 320px) {
    .not-found {
        padding-top: 100px;
        row-gap: 292px;
    }
    .not-found__title {
        font-size: 12px;
    }
    
    .not-found__title span {
        font-size: 80px;
    }

    .button_type_to-main {
        font-size: 12px;
    }
} 