@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts/inter.css);

.app {
    background: #2F2F2F;
}
.page {
    max-width: 1280px;
    margin: auto;
    background: #202020;
    height: 100vh;
}