.movies-list {
    list-style: none;
    position: relative;
}

.movies__foto {
    object-fit: cover;
    width: 360px;
    height: 201px;
}

.movies-list__container {
    display: grid;
    grid-template-columns: 250px 52px;
    column-gap: 31px;
    padding-top: 12px;
    padding-left: 14px;
    padding-right: 14px;
    height: 32px;
}

.movies_text {
    margin: 0;
    color: #FFF;
    font-family: Inter, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-height: 32px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: break-spaces;
}

.movies_time {
    margin: 0;
    height: 12px;
    border-radius: 3px;
    padding: 3px 4px;
    background: #2F2F2F;
    color: #8B8B8B;
    text-align: center;
    font-family: Inter, Arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px; /* 90.909% */
}

.movies__button {
    border: 0;
    padding: 0;
    width: 72px;
    height: 21px;
    
    position: absolute;
    top: 14px;
    right: 14px;
    text-align: end;
}

.movies__button-img {
    width: 21px;
    height: 21px;
}
.movies__button-save {
    width: 72px;
    height: 21px;
    background-color: transparent;
    background-image: url(../../../images/save3d.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 14px;
    right: 14px;
    margin: 0;
    border: 0;
    opacity: 0;
}

.movies__button-save_activ {
    width: 21px;
    height: 21px;
    background-color: transparent;
    background-image: url(../../../images/save.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 14px;
    right: 14px;
    margin: 0;
    border: 0;
}

.movies__button-save:hover {
    opacity: 1;
}

.movies__foto:hover + .movies__button-save {
    opacity: 1;
}

@media (max-width: 1279px) {
    .movies__foto {
        width: 339px;
        height: 190px;
    }
}

@media (max-width: 1279px) {
    .movies-list__container {
        column-gap: 37px;
        padding-top: 23px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 1279px) {
    .movies_text {
        max-height: 16px;
        white-space: nowrap;
    }
}

@media (max-width: 767px) {
    .movies__foto {
        width: 300px;
        height: 168px;
    }
}

@media (max-width: 767px) {
    .movies-list__container {
        grid-template-columns: 240px 52px;
        column-gap: 8px;
        padding-top: 13px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 767px) {
    .movies_text {
        font-size: 12px;
        max-height: 15px;
    }
}

@media (max-width: 767px) {
    .movies__button-save {
        top: 11px;
        right: 10px;
        opacity: 1;
    }
}




/* .movies-list {
    list-style: none;
    position: relative;
}

.movies__foto {
    object-fit: cover;
    width: 360px;
    height: 201px;
}

.movies-list__container {
    display: grid;
    grid-template-columns: 250px 52px;
    column-gap: 31px;
    padding-top: 12px;
    padding-left: 14px;
    padding-right: 14px;
}

.movies_text {
    margin: 0;
    color: #FFF;
    font-family: Inter, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-height: 32px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.movies_time {
    margin: 0;
    height: 12px;
    border-radius: 3px;
    padding: 3px 4px;
    background: #2F2F2F;
    color: #8B8B8B;
    text-align: center;
    font-family: Inter, Arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
}

.movies__button {
    border: 0;
    padding: 0;
    width: 72px;
    height: 21px;
    
    position: absolute;
    top: 14px;
    right: 14px;
    text-align: end;
}

.movies__button-img {
    width: 21px;
    height: 21px;
}
.movies__button-save {
    width: 21px;
    height: 21px;
    background-color: transparent;
    background-image: url(../../../images/d3.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 14px;
    right: 14px;
    margin: 0;
    border: 0;
    opacity: 0;
}

.movies__button-save:hover {
    opacity: 1;
}

.movies__foto:hover + .movies__button-save {
    opacity: 1;
}

@media (max-width: 1279px) {
    .movies__foto {
        width: 339px;
        height: 190px;
    }
}

@media (max-width: 1279px) {
    .movies-list__container {
        column-gap: 37px;
        padding-top: 23px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 1279px) {
    .movies_text {
        max-height: 16px;

    }
}

@media (max-width: 767px) {
    .movies__foto {
        width: 300px;
        height: 168px;
    }
}

@media (max-width: 767px) {
    .movies-list__container {
        grid-template-columns: 240px 52px;
        column-gap: 8px;
        padding-top: 13px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 767px) {
    .movies_text {
        font-size: 12px;
        max-height: 15px;
    }
}

@media (max-width: 767px) {
    .movies__button-save {
        top: 11px;
        right: 10px;
        opacity: 1;
    }
} */