.movies {
    background: #202020;
    margin: 0;
    justify-content: center;
    padding: 72px 70px 28px 70px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    column-gap: 30px;
    row-gap: 42px;
}

@media (max-width: 1279px) {
    .movies {
        padding: 62px 30px 12px 30px;
        grid-template-columns: repeat(2, 339px);
        column-gap: 30px;
        row-gap: 30px;
        grid-template-rows: repeat(2, auto);
    }
}

@media (max-width: 767px) {
    .movies {
        padding: 40px 10px 12px 10px;
        grid-template-columns: 300px;
        row-gap: 21px;
        grid-template-rows: repeat(5, auto);
    }
}