.more {
    padding: 33px 0 80px 0;
    background: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more_button {
    margin: 0;
    border: 0;
    background-color: transparent;
    background-image: url(../../../images/buttonBorder.svg);
    background-size: cover;
    width: 320px;
    height: 36px;
    background-repeat: no-repeat;
    color: #FFF;
    text-align: center;
    font-family: Inter, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media (max-width: 1279px) {
    .more {
        padding: 46px 0 80px 0;
    }
}

@media (max-width: 767px) {
    .more {
        padding: 50px 0 80px 0;
    }
}

@media (max-width: 767px) {
    .more_button {
        width: 240px;
        height: 36px;
    }
}