.register {
    background-color: #202020;
    padding-top: 70px;
    display: grid;
    grid-template-columns: 396px;
    justify-content: center;
    padding-bottom: 70px;
    grid-template-rows: 78px 69px 380px 33px;
}

.register__photo-link {
    width: 38px;
    height: 38px;
}

.register__photo-link:hover {
    opacity: 0.7;
    cursor: pointer;
}

.register__header {
    margin: 0;
    color: #FFF;
    font-family: Inter, Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.register__form {
    display: grid;
    grid-template-columns: 396px;
    grid-template-rows: 266px 114px;
    justify-content: center;
    align-content: flex-end;
}

.register__title {
    margin: 0;
    color: #8B8B8B;
    font-family: Inter, Arial, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 10px;
    width: 396px;
}

.register__input {
    border-radius: 8px;
    background: #2F2F2F;
    border: 0;
    padding: 15px;
    color: #FFF;
    font-family: Inter, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    width: 366px;
}

.register__input-button {
    border: 0;
    padding: 0;
    border-radius: 3px;
    background: #4285F4;
    height: 45px;
    color: #FFF;
    text-align: center;
    font-family: Inter, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-self: end;
}

.register__input-button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.register__text {
    margin: 0;
    color: #8B8B8B;
    text-align: center;
    font-family: Inter, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 16px;
}

.register__link {
    color: #4285F4;
    text-align: center;
    font-family: Inter, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;    
}

.register__link:hover {
    opacity: 0.6;
    cursor: pointer;
}

.register__input-error {
    color: #EE3465;
    font-family: Inter, Arial, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    min-height: 10px;
}

@media (max-width: 1279px) {
    .register {
        padding-top: 232px;
        padding-bottom: 232px;
    }
  }

  @media (max-width: 767px) {
    .register {
        padding-top: 56px;
        grid-template-columns: 260px;
        padding-bottom: 30px;
        grid-template-rows: 88px 109px 468px 29px;

    }
    
    .register__photo-link {
        margin-bottom: 50px;
        justify-self: center;
    }
    
    .register__form {
        grid-template-columns: 260px;
        grid-template-rows: 262px 206px;
        justify-content: flex-start;
    }
    
    .register__title {
        width: 260px;
    }
    
    .register__input {
        border-radius: 8px;
        width: 230px;
    }
    
    .register__input-button {
        margin-top: 0;
        font-size: 12px;
        width: 260px;
    }

    .register__header {
        text-align: center;
    }
    
    .register__text {
        font-size: 12px;
        padding-top: 14px;
    }
    
    .register__link {
        font-size: 12px;  
    }
    
    .register__input-error {
        color: #EE3465;
        font-family: Inter, Arial, sans-serif;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        min-height: 10px;
    }
    
  }