.footer {
    padding-right: 70px;
    padding-left: 70px;
    background-color: #202020;
}

.footer__title {
    padding-top: 79px;
    padding-bottom: 20px;
    margin: 0;
    color: #8B8B8B;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #424242;
}

.footer__container {
    display: grid;
    grid-template-columns: 48px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}

.footer__navbar {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: right;
    column-gap: 20px;
    list-style-type: none;
}

.footer__data {
    margin: 0;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__link {
   margin: 0;
   color: #FFF;
   font-feature-settings: 'clig' off, 'liga' off;
   font-family: Inter;
   font-size: 13px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   text-decoration: none;
   text-align: right;
}

@media (max-width: 1279px) {
    .footer {
        padding-right: 30px;
        padding-left: 30px;
    }

    .footer__container {
        display: grid;
        grid-template-columns: 48px auto;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    .footer {
        padding-right: 10px;
        padding-left: 10px;
    }

    .footer__title {
        padding-bottom: 21px;
        font-size: 12px;
    }
    .footer__container {
        grid-template-columns: auto;
        padding-top: 30px;
        justify-content: center;
        row-gap: 30px;
    }

    .footer__navbar {
        grid-template-columns: auto;
        justify-content: center;
        row-gap: 12px;
    }

    .footer__data {
        order: 1;
        color: #8B8B8B;;
        font-size: 12px;
        text-align: center;
    }

    .footer__link {
        font-size: 12px;
        text-align: center;
        }

}

