.search {
    background-color: #202020;
    padding-top: 81px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 10px;
}

.search__movies{
    display: grid;
    grid-template-rows: 50px 55px;
    max-width: 1140px;
    row-gap: 29px;
}

.search__container-input {
    display: grid;
    grid-template-columns: auto 44px;
    column-gap: 10px;
}

.search__container-button {
    display: grid;
    grid-template-columns: 36px 108px;
    column-gap: 12px;
    justify-content: center;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #424242;
}

.search__input {
    height: 50px;
    border-radius: 8px;
    background: #2F2F2F;
    margin: 0;
    padding: 0 0 0 20px;
    color: #8B8B8B;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    border: 0;
}

.search__button {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    border: 0;
    background-color: transparent;
    padding: 0
}

.search__invisible-checkbox[type="checkbox"]  {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(top, right, bottom, left);
}

.search__visible-checkbox {
    display: inline-block; /* элемент span теперь сможет принимать определённую ширину и высоту */
    vertical-align: middle; /* элемент и текст будут правильно выровнены по вертикали. Работает в паре с inline-block */
    width: 36px;
    height: 20px; /* размеры */
    background-image: url('../../../images/smalltumb.svg');
    background-repeat: no-repeat;
}

.search__invisible-checkbox[type="checkbox"]:checked + .search__visible-checkbox {
    background-image: url('../../../images/smalltumb.svg');
}

.search__invisible-checkbox[type="checkbox"]:disabled + .search__visible-checkbox {
    background-image: url('../../../images/smalltumb.svg');
}
.search__invisible-checkbox[type="checkbox"]:disabled:checked + .search__visible-checkbox {
    background-image: url('../../../images/smalltumb.svg');
}
.search__invisible-checkbox[type="checkbox"]:focus + .search__visible-checkbox {
    background-image: url('../../../images/smalltumb.svg');
}

.search__text {
    color: #FFF;
    font-family: Inter, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    margin: 0;
}

@media (max-width: 1279px) {
    .search {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 1279px) {
    .search__movies{
        row-gap: 41px;
        padding-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .search {
        padding-left: 14px;
        padding-right: 14px;
    }
}

@media (max-width: 767px) {
    .search__movies{
        row-gap: 47px;
        padding-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .search__container-button {
        grid-template-columns: 36px 99px;
        column-gap: 13px;
    }
}

@media (max-width: 767px) {
    .search__input {
        height: 44px;
        padding: 0 0 0 13px;
        border: 0;
    }
}

@media (max-width: 767px) {
    .search__text {
        font-size: 11px;
    }
}