.about-me {
    padding-right: 70px;
    padding-left: 70px;
    background-color: #202020;
    /* height: 625px; */
}

.about-me__title {
    margin: 0px;
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    padding-top: 110px;
    padding-bottom: 23px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #DADADA;
}

.about-me__name {
    margin: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;
    width: 600px;
}

.about-me__subtitle {
    margin: 0;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-top: 18px;
}

.about-me__container {
    padding-top: 66px;
    display: grid;
    grid-template-columns: 600px auto;
    grid-template-rows: auto auto auto auto;
    grid-auto-flow: column dense;
    justify-content: space-between;
    padding-bottom: 102px;

}

.about-me__photo {
    grid-row: span 4;
    width: 270px;
    height: 327px;
}

.about-me__text {
    margin: 0;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding-top: 26px;
    width: 599px;
}

.about-me__link {
    margin: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 99px;
}